<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<nav class="top-menu">
				<li><a href="/">Home</a></li>
				<li><a href="map/">Map</a></li>
				<li><a href="https://data.syrgov.net">DataCuse API</a></li>
				<li><a href="about/">About</a></li>
		</nav>
	</header>
	<article>
		<h1>About Cuse Water</h1>
		<p><em>Currently under construction</em></p>
	</article>
	<footer>
		<ul>
			<li>Made by:</li>
			<li>Allen Soberanes</li>
			<li>Isabella Rosales</li>
			<li>Zeynep Cakmak</li>
			<li>Alejandra Lopez</li>
		</ul>
		<ul>
			<li>Made with:</li>
			<li>DataCuse API</li>
			<li>Flask</li>
			<li>Vim</li>
			<li>Love</li>
		</ul>
	</footer>
</body>
</html>
