<footer>
	<ul>
		<li>Made by:</li>
		<li><a href="https://linkedin.com/in/allen-soberanes">Allen Soberanes</a></li>
		<li><a href="https://www.linkedin.com/in/isabella-rosales-1a2aaa230/">Isabella Rosales</a></li>
		<li><a href="https://www.linkedin.com/in/zeynep-cakmak-7b7a29226/">Zeynep Cakmak</a></li>
		<li><a href="https://www.linkedin.com/in/alopez41/">Alejandra Lopez</a></li>
	</ul>
	<ul>
		<li>Made with:</li>
		<li>DataCuse API</li>
		<li>Flask</li>
		<li>Folium</li>
		<li>Vim</li>
		<li>Love</li>
	</ul>
</footer>

