<head>
	<meta charset="utf-8">
	<meta name="description" content="Cuse Water is a project that allows you view information about the different kinds of water pipes in Syracuse, NY.">

	<meta property="og:title" content="Cuse Water">
	<meta property="og:description" content="Cuse Water is a project that allows you view information about the different kinds of water pipes in Syracuse, NY.">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">

	<title>Cuse Water</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
