{% extends '_default/base.html' %}
{% block content %}
<main>
	<h1 class="project-title">Cuse Water</h1>
	<p>Search for your address below to see information about your pipes.</p>
	<form method="POST" action="map/">
		<input id="index-input" type="text" placeholder="Submit address" name="address" />
	</form>

	<aside id="about">
		<p>Cuse Water is a project that allows you view information about the different kinds of water pipes in Syracuse, NY. In the span of less than twenty-four hours, it moved from being an idea to a submission at CuseHacks 2022, thanks to the hard work of the people below and the data made available by DataCuse. We all hope that this project proves useful or interesting to those who stumble upon it.</p>
	</aside>
</main>
{% endblock %}
